body{
  background-color: #efefef;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#555555;
  padding-top:50px 
}
#titulo{
  display: flex;
  justify-content: center;
}
#lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pacienteBox{
  background-color: #fff;
  height: 200px;
  width: 300px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(100,100,100,0.57);
  -moz-box-shadow: 0px 0px 10px 2px rgba(100,100,100,0.57);
  box-shadow: 0px 0px 10px 2px rgba(100,100,100,0.57);
  border-radius: 5px;
}
.popAlertaBox{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top:0;
}
.popAlerta{
  margin: 10px;
  background-color:  rgb(255, 82, 82);
  padding: 10px;
  border-radius: 10px;
}

.pacienteName{
  margin: 10px;
}
.pacienteLog{
  margin: 10px;
  background-color: #555555;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  overflow-y: auto;
}
.disable{
  color: rgb(177, 89, 89)!important;
}
.alerta{
  color: rgb(255, 82, 82);
  margin: 5px;
}
.log{
  color: #fff;
  margin: 5px;
}
.pacienteModal{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  left: 0;
  background-color: #00000077;
  display: flex;
  justify-content: center;
}

.pacienteModalBox{
  overflow-x: auto;
  height: calc(100% - 35px);
  margin-bottom: 5px;
}
#container{
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
#container button{
  height: 30px;
}